.premium-options .options{
    text-align:center
}
html body #premium-highlights .ribbon-wrapper h3 span.corner-ribbon{
    font-size:40px
}
.subsiteContent .section-pro{
    text-align:center;
    margin-top:15px;
    padding:10px 20px 40px 20px!important
}
.subsiteContent .section-pro .section-title{
    font-size:28px;
    text-transform:uppercase
}
.subsiteBody .subsiteContent .section-payment-methods{
    margin-top:15px
}
.subsiteBody .subsiteContent .section-payment-methods .payment-method-icon{
    margin:7px 0
}
.subsiteBody .subsiteContent .section-payment-methods h2{
    font-size:14px;
    margin-top:0;
    font-weight:700
}
.container.disclaimer p{
    padding:0
}
html #premium-highlights header{
    padding:25px
}
html #premium-highlights header h1{
    text-align:center;
    margin:0;
    font-size:25px;
    color:#3c8499
}
@media (max-width:768px){
    html #premium-highlights header h1>span{
        display:block
    }
}
html #premium-highlights .container{
    padding:0
}
html #premium-highlights .container.tabs.nav{
    padding:30px 20px 10px;
    margin-bottom:0;
    margin-top:20px
}
html #premium-highlights .container.tabs.nav li.active a{
    background-color:#1eb082;
    color:#fff
}
html #premium-highlights .ribbon-wrapper{
    position:relative;
    overflow:hidden;
    padding:2px
}
html #premium-highlights .ribbon-wrapper h3 span{
    position:relative;
    text-align:center;
    text-transform:uppercase;
    font-weight:700;
    display:inline-block;
    color:#fff
}
html #premium-highlights .ribbon-wrapper h3 span.corner-ribbon{
    font-size:9px
}
html #premium-highlights .ribbon-wrapper h3 span.discount{
    text-transform:none;
    -webkit-hyphens:none;
    hyphens:none;
    color:#5c1a99;
    margin-top:15px;
    margin-left:0
}
html #premium-highlights .ribbon-wrapper h3 span.discount-sticker{
    background:#5c1a99;
    border-radius:5px;
    padding:3px;
    font-size:12px;
    top:-5px
}
@media (max-width:992px){
    html #premium-highlights .ribbon-wrapper h3 span{
        display:none
    }
    html #premium-highlights .ribbon-wrapper h3 span.discount{
        display:block;
        font-size:14px
    }
    html #premium-highlights .ribbon-wrapper h3 span.corner-ribbon{
        display:none
    }
}
html #premium-highlights section,html #premium-highlights section.container{
    padding:20px 30px
}
html #premium-highlights section{
    position:relative;
    background-repeat:no-repeat
}
html #premium-highlights section.slide{
    padding:40px;
    -webkit-hyphens:none;
    hyphens:none;
    margin-bottom:20px
}
html #premium-highlights section.slide .slide-description .slide-secondary{
    text-transform:uppercase;
    display:block
}
html #premium-highlights section.slide .section-title{
    padding-bottom:5px
}
html #premium-highlights section.slide .section-title h2{
    padding-left:40px;
    margin-top:15px;
    text-transform:uppercase;
    line-height:30px;
    font-size:28px
}
html #premium-highlights section.slide .section-title .slide-icon{
    width:30px;
    height:30px;
    float:left;
    border-radius:50%;
    text-align:center;
    background:#1eb082
}
html #premium-highlights section.slide .section-title .slide-icon .finances-highlight-icon,html #premium-highlights section.slide .section-title .slide-icon .network-highlight-icon{
    zoom:.35
}
html #premium-highlights section.slide .section-title .slide-icon .glyphicon{
    line-height:30px;
    color:#fff;
    font-size:15px
}
html #premium-highlights section.premium-highlights-promo{
    padding:0
}
html #premium-highlights section.premium-highlights-promo .about-us-box{
    padding:0;
    margin:15px;
    background-color:#fff;
    -webkit-hyphens:none;
    hyphens:none
}
html #premium-highlights section.premium-highlights-promo .about-us-box h2{
    margin-bottom:20px;
    margin-top:0;
    padding-top:20px;
    text-transform:uppercase;
    line-height:1.2;
    padding-right:15px
}
html #premium-highlights section.premium-highlights-promo .about-us-box span{
    line-height:1.5
}
html #premium-highlights section.premium-highlights-promo .about-us-box .premium-offers{
    padding:20px 30px
}
@media (min-width:992px){
    html #premium-highlights section.premium-highlights-promo .about-us-box.b{
        background:url('https://www.companyhouse.de/img/large/premium-highlights/promo_cyber_week_b.jpeg') no-repeat 220px 12%
    }
}
 @media (min-width:992px){
    html #premium-highlights section.premium-highlights-promo .about-us-box{
        padding:0 30px;
        margin:0;
        background:url(https://www.companyhouse.de/img/large/premium-highlights/promo_cyber_week.jpeg) no-repeat 140px 20%;
        background-size:cover
    }
    html #premium-highlights section.premium-highlights-promo .about-us-box .premium-offers{
        width:480px;
        padding:0 50px 20px 35px;
        background-color:#fff;
        box-shadow:0 4px 8px 0 rgba(0,0,0,.2)
    }
    html #premium-highlights section.premium-highlights-promo .about-us-box .premium-offers h2{
        font-size:20px
    }
}
html #premium-highlights section.premium-highlights-promo .bubble{
    border-radius:50%;
    position:relative;
    color:#fff;
    text-align:center;
    line-height:1;
    width:170px;
    height:150px;
    font-size:14px;
    left:15%
}
html #premium-highlights section.premium-highlights-promo .bubble.sticker{
    border-radius:10px;
    background-color:#5c1a99;
    padding-top:10px;
    font-size:20px;
    font-weight:700;
    display:block;
    text-transform:uppercase
}
html #premium-highlights section.premium-highlights-promo .bubble.sticker .discount-percent{
    font-size:60px;
    margin-top:5px
}
html #premium-highlights section.premium-highlights-promo .bubble.sticker .text-normal{
    font-weight:700;
    font-size:9px;
    margin-top:5px
}
html #premium-highlights section.premium-highlights-promo .bubble.bubble-day-counter{
    border-radius:0 0 10px 10px;
    width:170px;
    height:50px;
    padding-top:8px;
    overflow:hidden;
    background:#333;
    display:block;
    margin-top:-10px
}
html #premium-highlights section.premium-highlights-promo .bubble.bubble-day-counter span.phrase{
    font-weight:700
}
html #premium-highlights section.premium-highlights-promo .bubble.bubble-day-counter span.phrase.phrase-today{
    display:block;
    margin-top:0;
    font-size:14px
}
html #premium-highlights section.premium-highlights-promo .bubble.bubble-day-counter .counter{
    margin:1px 0 4px 0
}
html #premium-highlights section.premium-highlights-promo .bubble.bubble-day-counter .counter span{
    color:#bebebe
}
@media (min-width:992px){
    html #premium-highlights section.premium-highlights-promo .bubble{
        position:absolute
    }
    html #premium-highlights section.premium-highlights-promo .bubble.sticker{
        left:480px;
        right:auto;
        top:40px
    }
    html #premium-highlights section.premium-highlights-promo .bubble.bubble-day-counter{
        left:480px;
        right:auto;
        top:190px
    }
}
@media (max-width:991px){
    html #premium-highlights section.premium-highlights-promo .bubble-parent{
        padding:20px 0;
        background:url(img/large/premium-highlights/premium-promo-gift-small-2019.jpeg) no-repeat 0 0;
        background-size:cover
    }
    html #premium-highlights section.premium-highlights-promo .bubble{
        left:10%
    }
}
html #premium-highlights section.premium-highlights-promo .about-us-list{
    font-size:15px;
    padding-left:0;
    color:#474747
}
html #premium-highlights section.premium-highlights-promo .about-us-list li{
    margin-bottom:15px
}
html #premium-highlights section.premium-highlights-promo .premium-highlights-detail-link{
    margin-top:30px;
    font-size:16px;
    color:#5c1a99
}
@media (min-width:768px){
    html #premium-highlights section.premium-highlights-promo .premium-highlights-detail-link{
        margin-left:30px
    }
}
html #premium-highlights section.premium-highlights-promo .annotation{
    margin-top:20px;
    font-size:11px;
    color:#8a8a8a;
    padding:10px 30px
}
html #premium-highlights section.premium-highlights-promo .premium-options{
    padding:20px 30px
}
html #premium-highlights section.premium-highlights-promo .premium-options>div+div{
    margin-top:20px
}
html #premium-highlights section.premium-highlights-promo .premium-options .panel.panel-purple{
    border-color:#8a8a8a
}
html #premium-highlights section.premium-highlights-promo .premium-options .panel.panel-purple .panel-heading{
    background-color:#5c1a99;
    border-color:#999;
    color:#fff
}
html #premium-highlights section.premium-highlights-promo .premium-options .panel.with-ribbon{
    border-color:#8a8a8a;
    position:relative
}
html #premium-highlights section.premium-highlights-promo .premium-options .panel.with-ribbon .panel-heading{
    background-color:#5c1a99;
    border-color:#999;
    color:#fff
}
html #premium-highlights section.premium-highlights-promo .premium-options .panel h3{
    margin:20px 0;
    font-weight:700;
    font-size:25px;
    text-transform:uppercase;
    display:inline-block
}
html #premium-highlights section.premium-highlights-promo .premium-options .panel .new-price{
    font-weight:700;
    font-size:30px
}
@media (min-width:768px){
    html #premium-highlights section.premium-highlights-promo .premium-options{
        display:-ms-flexbox;
        display:-webkit-flex;
        display:flex;
        -webkit-justify-content:center;
        -ms-flex-pack:center;
        justify-content:center
    }
    html #premium-highlights section.premium-highlights-promo .premium-options>div{
        margin:0 15px;
        flex:1;
        -webkit-flex:1;
        -ms-flex:1;
        max-width:50%
    }
    html #premium-highlights section.premium-highlights-promo .premium-options>div+div{
        margin-top:0
    }
}
html #premium-highlights section.premium-highlights-promo .trust-box{
    display:block
}
html #premium-highlights section.premium-highlights-promo .trust-box>div:first-child{
    max-width:100%
}
html #premium-highlights section.premium-highlights-promo .trust-box .logo-box{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    padding:20px;
    max-width:100%
}
html #premium-highlights section.premium-highlights-promo .trust-box .logo-box .companies-logo{
    flex:0 auto;
    margin:10px;
    zoom:1
}
@media (min-width:1200px){
    html #premium-highlights section.premium-highlights-promo .trust-box{
        background-size:contain
    }
}
html #premium-highlights section.section-network .background{
    background:url(https://www.companyhouse.de/img/large/premium-highlights/premium-connection-graph-2019.png) no-repeat center center
}
@media (min-width:992px){
    html #premium-highlights section.section-network{
        height:500px;
        background:#fff url(https://www.companyhouse.de/img/large/premium-highlights/premium-connection-graph-2019.png) no-repeat right bottom/contain
    }
}
html #premium-highlights section.section-statistics .background{
    background:url(https://www.companyhouse.de/img/large/premium-highlights/premium-stats-2019.png) no-repeat center center
}
@media (min-width:992px){
    html #premium-highlights section.section-statistics{
        height:495px;
        background:#fff url(https://www.companyhouse.de/img/large/premium-highlights/premium-stats-2019.png) no-repeat left bottom
    }
}
html #premium-highlights section.section-finances .background{
    background:url(https://www.companyhouse.de/img/large/premium-highlights/premium-finances-2022.png) no-repeat center center
}
@media (min-width:992px){
    html #premium-highlights section.section-finances{
        height:668px;
        background:#fff url(https://www.companyhouse.de/img/large/premium-highlights/premium-finances-2022.png) no-repeat center center/cover
    }
    html #premium-highlights section.section-finances .slide-text{
        background-color:#fff;
        box-shadow:0 4px 8px 0 rgba(0,0,0,.2)
    }
}
html #premium-highlights section.section-search .background{
    background:url(https://www.companyhouse.de/img/large/premium-highlights/premium-search-cut-2019.png) no-repeat 75px -270px
}
@media (min-width:992px){
    html #premium-highlights section.section-search{
        height:470px;
        background:#fff url(https://www.companyhouse.de/img/large/premium-highlights/premium-search-cut-2019.png) no-repeat left center/contain
    }
    html #premium-highlights section.section-search .slide-text{
        width:40%
    }
}
html #premium-highlights section.section-alerts .background{
    background:url(https://www.companyhouse.de/img/large/premium-highlights/premium-monitoring-cut-2019.png) no-repeat center center;
    background-size:contain
}
@media (min-width:992px){
    html #premium-highlights section.section-alerts{
        height:400px;
        background:#fff url(https://www.companyhouse.de/img/large/premium-highlights/premium-monitoring-2019.png) no-repeat right center/90%
    }
    html #premium-highlights section.section-alerts .slide-text{
        width:70%
    }
}
html #premium-highlights section.section-noads .background{
    background:url(https://www.companyhouse.de/img/large/premium-highlights/premium-contact-info-2019.png) no-repeat center center;
    background-size:contain
}
@media (min-width:992px){
    html #premium-highlights section.section-noads{
        height:430px;
        background:#fff url(https://www.companyhouse.de/img/large/premium-highlights/premium-contact-info-2019.png) no-repeat left center/45%
    }
}
html #premium-highlights #sticky-footer{
    width:100%;
    height:0;
    position:fixed;
    bottom:0;
    left:0;
    padding:0;
    background-color:rgba(51,51,51,.95);
    color:#fff;
    text-align:center;
    z-index:1
}
html #premium-highlights #sticky-footer .premium-highlights-checkout{
    background-color:transparent;
    padding:15px 70px;
    box-shadow:none
}
html #premium-highlights #sticky-footer .premium-highlights-checkout .radio-list label{
    padding:0 20px;
    float:none;
    cursor:pointer
}
html #premium-highlights #sticky-footer .premium-highlights-checkout .radio-list label input{
    margin:4px 4px 0 0
}
html #premium-highlights #sticky-footer .premium-highlights-checkout .radio-list label span.label{
    line-height:3;
    padding:.1em .5em .15em
}
html #premium-highlights #sticky-footer .premium-highlights-checkout .label-info{
    background-color:#1eb082
}
html #premium-highlights #sticky-footer .premium-highlights-checkout .text-blue{
    color:#1eb082
}
html #premium-highlights #to-top{
    display:none;
    color:#fff;
    cursor:pointer;
    font-size:12px;
    line-height:20px;
    outline:0;
    padding:5px;
    white-space:nowrap;
    z-index:1;
    right:100px
}
html #premium-highlights #to-top.guest{
    right:200px
}
html #premium-highlights #to-top .table-option-icon{
    background-color:transparent;
    color:#8a8a8a
}
html #premium-highlights #details table{
    width:100%
}
html #premium-highlights #details table thead th{
    padding:20px 0 10px
}
html #premium-highlights #details table thead th:first-child{
    font-weight:400;
    font-size:24px
}
html #premium-highlights #details table thead th:not(:first-child){
    font-weight:700;
    font-size:20px
}
html #premium-highlights #details table tbody{
    border-top:3px solid #eee
}
html #premium-highlights #details table tbody h4{
    font-size:16px
}
html #premium-highlights #details table tbody p{
    color:#555
}
html #premium-highlights #details table tbody .glyphicon-ok{
    color:#1eb082
}
html #premium-highlights #details table tbody:after,html #premium-highlights #details table tbody:before{
    content:'';
    display:block;
    height:20px
}
html #premium-highlights #details table th:nth-child(2),html #premium-highlights #details table tr td:nth-child(2){
    width:12%;
    text-align:center
}
html #premium-highlights #details table th:nth-child(3),html #premium-highlights #details table tr td:nth-child(3){
    width:14%;
    text-align:center
}
html #premium-highlights #premium-preview-company-list{
    column-count:1;
    column-gap:15px;
    list-style:none inside none;
    padding-left:0;
    max-width:850px;
    margin:0 auto 10px
}
@media (min-width:768px){
    html #premium-highlights #premium-preview-company-list{
        column-count:2
    }
}
html #premium-highlights #premium-preview-company-list li a{
    display:block;
    -webkit-column-break-inside:avoid;
    page-break-inside:avoid;
    break-inside:avoid;
    margin:0 -10px;
    padding:10px 10px 10px 70px;
    position:relative
}
html #premium-highlights #premium-preview-company-list li a:hover{
    background-color:#eee
}
html #premium-highlights #premium-preview-company-list li a .city{
    display:block;
    color:#777
}
html #premium-highlights #faq p{
    color:#555
}
@media (max-width:991px){
    html #premium-highlights{
        margin-top:0
    }
    html #premium-highlights h1,html #premium-highlights h2{
        text-align:center
    }
    html #premium-highlights section,html #premium-highlights section.container{
        padding:20px 10px;
        border-bottom:1px solid #ddd
    }
    html #premium-highlights section.container.premium-highlights-promo>h2,html #premium-highlights section.premium-highlights-promo>h2{
        margin-top:20px
    }
    html #premium-highlights section.container.premium-highlights-promo .about-us-list,html #premium-highlights section.premium-highlights-promo .about-us-list{
        margin-left:0
    }
    html #premium-highlights section.container.premium-highlights-promo .annotation,html #premium-highlights section.premium-highlights-promo .annotation{
        margin-top:20px
    }
    html #premium-highlights section .background,html #premium-highlights section.container .background{
        height:100px
    }
    html #premium-highlights section .slide-text,html #premium-highlights section.container .slide-text{
        background-color:#fff;
        opacity:.95;
        padding:15px;
        margin:0 15px
    }
    html #premium-highlights section .slide-text .section-title,html #premium-highlights section.container .slide-text .section-title{
        padding:10px 0
    }
    html #premium-highlights section .slide-text img,html #premium-highlights section.container .slide-text img{
        height:30px;
        margin:0 15px 0 0
    }
    html #premium-highlights section .slide-text h2,html #premium-highlights section.container .slide-text h2{
        font-size:22px;
        margin-top:0;
        text-align:left
    }
}
.premium-options h3,.premium-options h4{
    font-weight:700
}
.premium-options h4{
    margin-top:2px
}
.premium-options .options{
    background-color:#eee;
    margin:10px 0 40px 0
}
.premium-options .options:after,.premium-options .options:before{
    display:table;
    content:" "
}
.premium-options .options:after{
    clear:both
}
.premium-options .options:after,.premium-options .options:before{
    display:table;
    content:" "
}
.premium-options .options:after{
    clear:both
}
.premium-options .options>.option{
    color:#333;
    display:block;
    padding:25px
}
.premium-options .options>.option:hover{
    background-color:#dadada
}
@media (max-width:767px){
    .premium-options .options>.option{
        padding-left:0;
        padding-right:0
    }
}
.premium-options .options>.option .price{
    margin-top:15px;
    font-size:24px
}
.premium-options .options>.option .price .major{
    font-size:40px
}
.premium-options .options>.option .subscribe{
    font-weight:700;
    height:auto;
    color:#337ab7
}
.premium-options .options>:nth-child(2){
    border-left:4px solid #fff;
    border-right:4px solid #fff
}
@media (max-width:767px){
    .premium-options .options{
        margin-left:20px;
        margin-right:20px
    }
}
.premium-options .logo-premium{
    background-repeat:no-repeat;
    margin:5px 0 20px;
    min-height:36px;
    display:flex
}
.premium-options .logo-premium:after,.premium-options .logo-premium:before{
    display:table;
    content:" "
}
.premium-options .logo-premium:after{
    clear:both
}
.premium-options .logo-premium:after,.premium-options .logo-premium:before{
    display:table;
    content:" "
}
.premium-options .logo-premium:after{
    clear:both
}
.premium-options .logo-premium .premium-option-body{
    flex-shrink:1
}
.premium-options .logo-premium>div:first-child{
    flex-shrink:0;
    margin-right:20px
}
@media (min-width:768px){
    .premium-options .border-between .col-sm-6:first-child{
        border-right:1px solid #ddd
    }
}
.premium-options .hint{
    font-weight:lighter;
    margin-top:20px;
    font-size:12px
}
.premium-options .can-we-help{
    display:inline-block
}
@media (max-width:768px){
    .premium-options .can-we-help{
        width:100%
    }
}
@media (max-width:767px){
    .premium-options h1{
        font-size:18px;
        line-height:24px;
        font-weight:700
    }
    .premium-options .subscribe-box-title,.premium-options h1,.premium-options p{
        text-align:center
    }
}
